services:
    keycloak:
        image: quay.io/keycloak/keycloak:latest
        container_name: keycloak
        ports:
            - '8180:8080'
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
            KC_HTTP_ENABLED: "true"
            KC_HOSTNAME_STRICT: "false"
            KC_HOSTNAME_STRICT_HTTPS: "false"
            KC_PROXY: edge
        command: start-dev --import-realm
        volumes:
            - ./_resources/_keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
        networks:
            - microservices-network

#     mongodb:
#         image: mongo:latest
#         container_name: mongodb
#         restart: always
#         ports:
#             - '27017:27017'
#         environment:
#             MONGO_INITDB_ROOT_USERNAME: admin
#             MONGO_INITDB_ROOT_PASSWORD: password
#         volumes:
#             - mongodb_data:/data/db
# volumes:
#     mongodb_data:
#         driver: local

networks:
    microservices-network:
        name: microservices-network
        driver: bridge

# ==========================================================
# Step 1: run provider first
# => docker compose -f .\docker-compose-provider.yml up -d
#
# Step 2: set KEYCLOAK_CLIENT_SECRET in user-service/.env
# => then run main app
# => docker compose up -d
# ==========================================================
