server:
  port: ${PORT:8080} # Port mà API Gateway sẽ chạy, mặc định là 8080 nếu không có biến môi trường PORT

spring:
  application:
    name: api-gateway # Tên của service, dùng để đăng ký với Eureka Server

eureka:
  instance:
    hostname: ${HOSTNAME:localhost} # Địa chỉ IP hoặc hostname của service này
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ # Địa chỉ của Eureka Server để đăng ký và lấy thông tin các service khác
      register-with-eureka: true # Cho phép đăng ký service này với Eureka Server
      fetch-registry: true # Cho phép lấy thông tin registry của các service khác từ Eureka Server