spring:
    data:
        redis:
            port: ${REDIS_PORT}
            host: ${REDIS_HOST} 
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: ${JWT_ISSUER_URI}

eureka:
    instance:
        hostname: discover-server
    client:
        service-url:
            defaultZone: http://discover-server:8761/eureka

apiKey: ${KEY_AUTH_FILTER}
