spring:
    data:
        redis:
            port: 6379
            host: localhost
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8180/realms/libraryx-system

eureka:
    instance:
        hostname: localhost
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka

apiKey: nvminh162
