server:
    port: 8080

spring:
    application:
        name: api-gateway # Tên của service, dùng để đăng ký với Eureka Server
    data:
        redis:
            port: 6379 # Cổng mặc định của Redis, đảm bảo rằng Redis đang chạy trên cổng này
            host: localhost # Địa chỉ của Redis, nếu Redis chạy trên máy khác, thay
    cloud:
        gateway:
            discovery:
                locator:
                    enabled: true # Cho phép API Gateway tự động phát hiện các service đã đăng ký với Eureka Server
            routes:
                - id: employee-service # ID của route, có thể đặt tùy ý
                  uri: lb://employee-service # Sử dụng load balancer để định tuyến đến Employee Service, "employee-service" là tên của service đã đăng ký với Eureka Server
                  predicates:
                      - Path=/api/v1/employees/** # Định nghĩa đường dẫn mà API Gateway sẽ chuyển tiếp đến Employee Service
                  filters:
                      - name: RequestRateLimiter # Sử dụng filter để giới hạn tốc độ truy cập
                        args:
                            redis-rate-limiter.replenishRate: 10 # Số lượng token được thêm vào bucket mỗi giây
                            redis-rate-limiter.burstCapacity: 20 # Số lượng token tối đa trong bucket (sức chứa của bucket)
                            redis-rate-limiter.requestedTokens: 1 # Số lượng token cần thiết để xử lý một yêu cầu
                      - KeyAuthFilter
                - id: book-service
                  uri: lb://book-service
                  predicates:
                      - Path=/api/v1/books/**
                  filters:
                      - name: RequestRateLimiter
                        args:
                            redis-rate-limiter.replenishRate: 10
                            redis-rate-limiter.burstCapacity: 20
                            redis-rate-limiter.requestedTokens: 1
                      - KeyAuthFilter
                - id: user-service
                  uri: http://localhost:9004
                  predicates:
                      - Path=/api/v1/users/**
                  filters:
                      - name: JwtHeaderFilter
                - id: auth-service
                  uri: http://localhost:9004
                  predicates:
                      - Path=/api/v1/auth/**
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8180/realms/library-sm
eureka:
    instance:
        hostname: discover-server
    client:
        service-url:
            defaultZone: http://discover-server:8761/eureka
            register-with-eureka: true # Cho phép đăng ký service này với Eureka Server
            fetch-registry: true # Cho phép lấy thông tin registry của các service khác từ Eureka Server

apiKey: nvminh162
