server:
    port: 9004

spring:
    application:
        name: user-service
    datasource:
        url: ${DB_URL:jdbc:mysql://localhost:3306/userdb}
        username: ${DB_USERNAME:root}
        password: ${DB_PASSWORD:root}
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect
                format_sql: true

eureka:
    client:
        service-url:
            defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}

keycloak:
    url: ${KEYCLOAK_URL}
    realm: ${KEYCLOAK_REALM}
    client-id: ${KEYCLOAK_CLIENT_ID}
    client-secret: ${KEYCLOAK_CLIENT_SECRET}
