services:
    discover-server:
        build:
            context: .
            dockerfile: discover-server/Dockerfile
        ports:
            - '8761:8761'
        networks:
            - microservices-network
    api-gateway:
        build:
            context: .
            dockerfile: api-gateway/Dockerfile
        ports:
            - '8080:8080'
        networks:
            - microservices-network
        depends_on:
            - discover-server
networks:
    microservices-network:
        driver: bridge

# ==========================================================
# # => docker compose -f docker-compose-apigateway.yml build
# ==========================================================